### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
# Default ignored files
/shelf/
/workspace.xml
node_modules/
dist/
*.class
*.py[cod]
*.log
*.jar
target/
.idea/
out/
TEST*.xml
.DS_Stone
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.mp3
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.iml